/* Абстрактний кореневий батьківський тег HTML  */
:root {
  background: rgb(190, 120, 87);
}

html {
  max-width: 720px;
}

body {
  background: #ffffff;
}

/* Для всіх тегів на сорінці */
* {
  color: rgb(177, 64, 64);
}

/* До всіх вказаних тегів */
h1 {
  color: #140d74;
}

/* До всіх тегів де вказаний class="card"  */
.card {
  background: #140d74;
}

/* До всіх тегів де вказаний id="user" */
#user {
  color: red;
}

/* Перелік селекторів для яких вказаний стиль CSS */
h1,
.box,
#user {
  color: red;
}

/* Для всіх тегів <p>,які є дочірніми тегу <div> */
div > p {
  color: black;
}

/* Для всіх тегів,які є нащадками section та де є клас .dox  */
section .dox {
  color: rgb(255, 255, 255);
}

/* Для тегу p,який іде відразу після h1 */
h1 + p {
  color: blue;
}

/* Для всіх тегів div,який ідуть відразу після h1 */
h1 ~ div {
  color: blue;
}

/* Перший тег зі списку в батьківському тегу ul */
ul > li:first-child {
  color: blue;
}

/* Останній тег зі списку в батьківському тегу ul */
ul > li:last-child {
  color: rgb(113, 212, 127);
}

/* Стилізує тег якщо він одиночний у своєму роді всередені батьківського тегу ul*/
ul > li:only-child {
  color: rgb(113, 212, 127);
}

/* Обирає тег який іде першим у списку серед таких же тегів */
p:first-of-type {
  color: rgb(113, 212, 127);
}

/* Обирає тег який іде останнім у списку серед таких же тегів */
p:last-of-type {
  color: rgb(113, 212, 127);
}

/* Обирає тег який єдиний у свому роді у списку  тегів */
p:only-of-type {
  color: rgb(113, 212, 127);
}

/* Вказує який по порядку тег сред братів та сестер */
div:nth-child(6) {
  color: blue;
}

/* Обирає парні теги серед братів та сестер */
div:nth-child(even) {
  color: blue;
}

/* Обирає не парні теги серед братів та сестер */
p:nth-child(odd) {
  color: blue;
}

/* Обирає кожен третій тег, починаємо рахувати з другого */
div:nth-child(3n + 2) {
  color: blue;
}

/* Обирає кожен третій тег, починаємо рахувати з кінця */
div:nth-last-child(3) {
  color: blue;
}

/* Кожен другий тег серед свого виду */
p:nth-of-type(2n) {
  color: aquamarine;
}

/* Кожен другий тег серед свого виду з кінця */
p:nth-last-of-type(2n) {
  color: aquamarine;
}

/* Усі теги div, окрім тегу з класом 'сard' */
.div:not(.card) {
  color: blue;
}

/* Для пустого тегу типу <div></div> */
div:empty {
  height: 20px;
  background: #33289b;
}

/* Тег в якому є вказаний атрибут */
div[required] {
  background: #831f4d;
}

/* Тег із вказаним атрибутом та значенням */
p[type='number'] {
  background: #140d74;
}

/* (Обирає якщо в списку атрибутів є вказаний) */
.input-dark[rel~='external'] {
  height: 30px;
  background: #9ab819;
}

/* (список атрибутів починається з 'btn') */
button[class|='btn'] {
  background: red;
}

/* (атрибут значення якого починається з 'btn') */
button[class^='btn'] {
  background: rgb(116, 30, 30);
}

/* (Обирає якщо в значенні атрибута присутнє "...sec...") */
button[class*='sec'] {
  background: rgb(189, 171, 171);
}

/* (Якщо значення закінчується на 'primary') */
button[class$='primary'] {
  background: rgb(87, 141, 51);
}

/* (Стилізує першу літеру вказаного рядка) */
p::first-letter {
  color: blue;
}

/* (Перший рядок тексту) */
p::first-line {
  color: rgb(52, 219, 46);
}

/* (Стилізує placeholder в input) */
.input::placeholder {
  color: rgb(36, 150, 93);
}

/* (Вставляє контент перед основним текстом) */
p::before {
  content: '$$$';
  color: blueviolet;
}

/* (Вставляє контент після тексту) */
p::after {
  content: '$$$';
  color: blueviolet;
}

/* Cтилізує якщо активна сторінка з даним посиланням */
#test:target {
  color: red;
}

/* Посилання на яке ще не заходили */
.link:link {
  color: blueviolet;
}

/* Посилання на яке навели микою */
.link:hover {
  color: rgb(255, 233, 30);
}

/* Посилання на якому натиснений курсор */
.link:active {
  color: rgb(13, 1, 85);
}

/* Посилання на якому натиснений курсор,для input */
.link:focus {
  color: rgb(93, 89, 116);
}

/* Якщо поле імпута активне */
input:focus {
  background-color: rgb(71, 207, 139);
}

/* Якщо форма в фокусі */
.card:focus-within {
  background-color: rgb(71, 207, 139);
}

/* Якщо в тезі є class="card" і "lang="fr" */
.card:lang(fr) {
  background-color: rgb(153, 206, 179);
}

/* Тег з активним посиланням */
button:enabled {
  background-color: rgb(153, 206, 179);
}

/* Тег із атрибутом disabled */
button:disabled {
  background-color: rgb(153, 206, 179);
}

/* Тег для активного input */
input:read-write {
  background-color: rgb(153, 206, 179);
}

/* Тег для неактивного input */
input:read-only {
  background-color: rgb(153, 206, 179);
}

/* Тег тексту біля активного checkbox*/
input[checkbox]:checked ~ span {
  background-color: rgb(153, 206, 179);
}

/* Для полявводу що є валідним, є атрибут valid*/
input:valid {
  background-color: rgb(153, 206, 179);
}

/* Для полявводу яку не є валідним */
input:invalid {
  background-color: rgb(153, 206, 179);
}

/* Для полявводу яку 'є необовїязковим'*/
input:invalid {
  background-color: rgb(153, 206, 179);
}

/* Для input type="number" коли виходить за межі min max*/
.number:out-of-range {
  background-color: rgb(153, 206, 179);
}

/* Для input type="number" коли входить в межі min max*/
.number:in-range {
  background-color: rgb(153, 206, 179);
}

/* Для input коли активний playceholder*/
.input:placeholder-shown ~ span {
  background-color: red;
}

/* Колір RGB плюс прозорість */
.card > p {
  color: rgba(196, 72, 72, 0.788);
}

/* Напрямок тексту з права на ліво і навпаки ltr */
p {
  direction: rtl;
}

/*Значення властивості за замовчуванням  */
.card > p {
  color: initial;
}

/* Знач. власт. успадковуються від батьківського тегу */
.card > p {
  color: inherit;
}

/* Знач. власт. успадковуються від батьківського тегу,якщо це можливо */
.card > p {
  color: unset;
}

/* Скачовує всі значення властивості */
.card > p {
  color: none;
}

/* Орієнтація тексту */
div {
  writing-mode: vertical-lr;
  writing-mode: vertical-rl;
}

/* Вирівнюванн тексту */
div {
  text-align: center;
  text-align: left;
  text-align: right;
}

/* Зміна регістру букв */
div {
  text-transform: uppercase;
  text-transform: lowercase;
  text-transform: capitalize;
}

/* Встановлення розміру Tab */
pre {
  tab-size: 5;
}

/* Розмір між символами в тексті */
p {
  letter-spacing: normal;
  letter-spacing: 1em;
  letter-spacing: 1px;
}

/* Декорації то тексту */
p {
  text-decoration: underline dotted red;

  text-decoration-line: underline;
  text-decoration-line: overline;
  text-decoration-line: line-through;

  text-decoration-style: solid;
  text-decoration-style: double;
  text-decoration-style: dotted;
  text-decoration-style: dashed;
  text-decoration-style: wavy;

  text-decoration-color: red;
}

/* Шрифт через google.fonts */
body {
  font-family: 'Roboto' sans-serif;
}

/* Розмір шрифту */

p {
  font-size: 2px;
  font-size: small;
  font-size: medium;
  font-size: large;
  font-size: xx-large;
  font-size: smaller;
  font-size: larger;
}

/* Жирність шрифта */
p {
  font-weight: 400;
  font-weight: bolder;
  font-weight: lighter;
}

/* Стиль шрифта */
p {
  font-style: italic;
}

/* Прогрузка шрифта */
h1 {
  font-display: swap;
}

/* Приховує даний контент */
.test {
  display: none;
}

/*Рядковий  елемент стає блочним */
span {
  display: block;
}

/* Блочний елемент стає лінійним */
div {
  display: inline;
}

/* Лінійний елемент стає блочно-лінійним*/
em {
  display: inline-block;
}

/* Відступи блоку */

div {
  margin: auto;
  margin: 0%;
  margin: 23px;
}

/* Ширина блоку */

div {
  /* Відносно бфтьківського блоку */
  width: 50%;
  /* По ширині контенту */
  width: fit-content;
  /* Мінімальна ширина контенту */
  width: min-content;
  width: max-content;
}

/* Внутрішні відступи */
div {
  padding: 12px;
  padding: 0%;
}

/* Висота елементу */
div {
  height: 100p;
  height: fit-content;
  height: max-content;
  height: min-content;
}

/* Мінімальга висота */
div {
  min-height: max-content;
}

/* Максимальна висота */
div {
  max-height: fit-content;
}

/* внутрішня рамка */
.footer {
  border-top: 1px solid #dee2e6;
  border-style: dashed;
  border-style: dotted;
  border-style: solid;
  border-style: double;
  border-style: groove;
  border-style: ridge;
}

/* Зовнішня рамка */
.footer {
  outline: 1 px solid red;
}

/* Відступ рамки до контенту */
.card:hover {
  outline: 2px solid rgb(0, 255, 64);
  outline-offset: 5px;
}

/* Зaoкруглення рамки */
.footer {
  border-radius: 10%;
}

/* Тінь тексту */
h1 {
  text-shadow: 2px 2px 2px #831f4d;
}

/* Тінь блоку */
h1 {
  box-shadow: 2px 2px 2px #831f4d;
}

/* Висота рядка */
h1 {
  line-height: 1.5;
}

/* Вертикальне вирівнювання */
h1 {
  vertical-align: baseline;
  /* Опускаєм нижче */
  vertical-align: sub;
  /* Вище базової лінії тексту */
  vertical-align: super;
  /* Вирівнює по верхньому краю батьківського елементу */
  vertical-align: top;
  vertical-align: text-top;
  vertical-align: 100%;
  vertical-align: 20px;
}

/* Зміна курсору при наведенні */
.example {
  cursor: pointer;
}

/* Приховати елемент */
.plans_card:nth-child(2) {
  display: none;
  /* Приховує елемент але місце залишається */
  visibility: hidden;
  /* Працює як Hidden але покращуж відображення */
  visibility: collapse;
}

/* Обрізання блоку */
p {
  /* Для горизонтальної сторони */
  overflow-y: auto;
  /* Для вертикальної сторони */
  overflow-x: hidden;
  /* Текстщо вилазить приховується */
  overflow: hidden;
  /* Додається смужка прокрутки для тесту що вилазить за межі */
  overflow: scroll;
}

/* Обрізання тексту  */
p {
  /* Якщо слово не влазить додається 3 крапки  */
  text-overflow: ellipsis;
  /* текст обрізається */
  text-overflow: clip;
}

/* Пропуск білих символів */
p {
  /* Між словами тільки один пропуск, текст переноситься у разі потреби */
  white-space: normal;
  /* забороняє перенесення */
  white-space: nowrap;
  /* Пробіли та перенесеня як у коді */
  white-space: pre;
  /* Як pre, + переносить в потрібних місцях тексь */
  white-space: pre-wrap;
}

/* Перенесення останнього слова */
span {
  /* По замовчуванні */
  overflow-wrap: normal;
  /* Розрив слова у будь-якому місці */
  overflow-wrap: anywhere;
  /* Розрив слова у найкращому місці */
  overflow: brear-word;
}

/* Перенесення слів на нови рядок */
span {
  /* Позамовчуванню */
  word-break: normal;
  /* Перенесення не застосовуэться, але слова розбиваються */
  word-break: break-all;
  /* Забороняє розрив міжсловами */
  word-break: keep-all;
}

/* М`який перенос слова */
span {
  hyphens: auto;
  /* слова не переносяться */
  hyphens: none;
}

/* Встановлення дефісів для перенесення тексту */
span {
  hyphenate-character: auto;
}

/* Інткрваи між словами */
span {
  word-spacing: normal;
  word-spacing: 4px;
}

/* Зміна розміру елемента за допомогою миші */

div {
  /* Забороняє зміну розміру */
  resize: none;
  /* Зміна по y та по x */
  resize: both;
  /* По горизонталі */
  resize: horizontal;
  /* По вертикалі */
  resize: vertical;
}

/* Розмір блоку по висоті */
div {
  block-size: 100px;
  writing-mode: horizontal-tb;
}

/* Розмір блоку по ширині */
div {
  inline-size: 200px;
  writing-mode: horizontal-tb;
}

/* Горизонтальна рамка для блоку */
div {
  border-block: 2px solid blue;
  writing-mode: horizontal-tb;
}

/* Горизонтальна верхня рамка */
div {
  border-block-start: thick double #32a1ce;
  writing-mode: horizontal-tb;
}

/*Горизонтальна нижня рамка  */
div {
  border-block-end: solid;
  writing-mode: horizontal-tb;
}

/* Ширина горизонтальної рамки блоку */
div {
  border-block-width: 1px;
  border-block-width: thin;
  border-block-width: medium;
  border-block-width: thick;
}

/* Стиль горизонтальної рамки блоку */
div {
  border-block-style: solid;
  border-block-style: dotted;
  border-block-style: dashed;
  border-block-style: double;
  border-block-style: none;
  border-block-style: groove;
  border-block-style: ridge;
}

/* Колір горизонтальної рамки блоку */
div {
  border-block-color: red;
}

/* Вертикальна рамка для блоку */
div {
  border-inline: solid;
  writing-mode: horizontal-tb;
}

/* Вертикальна ліва рамка */
div {
  border-inline-start: thick double #32a1ce;
  writing-mode: horizontal-tb;
}

/*Вертикальна права рамка  */
div {
  border-inline-end: solid;
  writing-mode: horizontal-tb;
}

/* Відступи відносно батьківсьеого елементу */
div {
  inset: 10px 10% 0 20px;
}

/* Бокові відступи */
div {
  inset-inline: 5% 10%;
  writing-mode: horizontal-tb;
}

/* Вертикальні відступи */
div {
  inset-block: 10px 20px;
  writing-mode: horizontal-tb;
}

/* Внутрішні вертикальні відступи */
div {
  padding-block: 60px 70px;
  writing-mode: horizontal-tb;
}

/* Внутрішні бокові відступи */
div {
  padding-inline: 20% 10%;
  writing-mode: horizontal-tb;
}

/* Зовнішні вертикальні відступи */
div {
  margin-block: 40px 20px;
  writing-mode: horizontal-tb;
}

/* Зовнішні бокові відступи */
div {
  margin-inline: 40px 13%;
}

/* Мінімальний розмір висоти блоку */
div {
  min-block-size: 100px;
  writing-mode: horizontal-tb;
}

/* Максимальний розмір висоти блоку */
div {
  max-block-size: 30px;
}

/* Мінімальна ширина блоку */
div {
  min-inline-size: 200px;
}

/* Максимальна ширина блоку */
div {
  max-inline-size: 150px;
}

/* Вирівнювання тексту розширенням інтервалів */
p {
  text-justify: auto;
  /* Розширення пробілів */
  text-justify: inter-word;
  /* Розширення символів або звуження */
  text-justify: inter-character;
  /* Відстані між символами та словами */
  text-justify: distribute;
}

/* Нахил жирність ширина */
p {
  font-variation-settings: 'wght' 50;
}

/* Розрив рядків */
p {
  line-break: normal;
}
