Фонове зображення div {
  background-color: blue;
  background-color: transparent;
}

div {
  background-image: url('/img/test.png');
  background-image: radial-gradient();
  background-image: linear-gradient();
  background-image: conic-gradient;
}

div {
  background-image: url(#);
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: repeat;
}

/* Фіксація фону  */
div {
  background-image: url(#);
  background-attachment: fixed;
  background-attachment: local;
  background-attachment: scroll;
}

/* Список */
ul {
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: linear-gradient();
}

li {
  display: list-item;
}

/* Таблиця */
.table td tr {
  border: 1px solid #b6c2ce;
}

.table {
  /* Колонки авто */
  table-layout: auto;
  /* Колонки по заданому розміру */
  table-layout: fixed;
  /* Ячейки таблиці об'єднані */
  border-collapse: collapse;
  /* Ячейки таблиці окремо */
  border-collapse: separate;
}

/* Відступи між ячейками */
.table {
  border-collapse: unset;
  border-spacing: 10px;
  border-spacing: 10px 20px;

  /* Заголовок зверху знизу */
  caption-side: top;
  caption-side: bottom;

  /* Пуста комірка */
  empty-cells: show;
  empty-cells: hide;

  /* Прозорість елементу */
  opacity: 50%;
  opacity: 0, 4;
}

/* Оформлення контенту лапки і т.д. */
.nav_link::before,
.nav_link::after {
  content: img;
  display: inline-block;
  width: 10px;
  height: 10px;

  background-image: url();
}
.nav_link::before {
  margin-right: 15px;
}
.nav_link::after {
  margin-left: 15px;
}

/* СSS калькулятор */
.calc {
  margin-left: calc(50%- (600px / 2));
}

/* Змінні повторювані властивості */
:root {
  --text-color: #567889;
  --space-medium: 24px;
}

/* Місце де використовується дана властивість */
p {
  color: var(--text-color);
}

/* Розділення на стовпчики */
p {
  columns: 2 20px;

  column-count: 2;

  column-width: 200px;

  /* Відстань між колонками */
  column-gap: 30px;

  /* Стиль лінії що розділяє на стовпці */
  column-rule: solid 15px red;

  /* Скількиданий елемент займає колонок */
  column-span: all;

  /* Кількість рядків на сторінці чи стовпці */
  orphans: 4;

  /* Кількість рядків нв останній сторнці чи колонці */
  widows: 6;

  /* Відокремлення елементу від інших */
  isolation: isolate;

  /* Змішання кольорів елементів */
  mix-blend-mode: multiply;

  /* Змішпння кольорів фону з об'єктом */
  background-blend-mode: screen;

  /* Скидає всі власивості елементу */
  all: inherit;

  /* Скидає усі властивості, що надає браузер */
  appearance: none;

  /* Можна вказати одночасно декілька зображень */
  background-image: image-set(
    'img-1x.jpg' 1x,
    'img-2x.jpg' 2x,
    'img-3x.jpg' 3x
  );
}

/* Обрізка зображення  */
.img {
  clip-path: circle(20%);
}

/* Прив'язка прокрутки */
div {
  scroll-snap-type: x;
}

/* Внутрішні відступи для прокрутки */
div {
  scroll-padding: 20px;
}

/* Робота зі стовпцями */
p {
  columns: 2;
}
/* Кількість стовпців */
p {
  column-count: 2;
}
/* Ширина стовпців */
p {
  column-width: 200px;
}

/* Відстань між стовцями */
p {
  column-gap: 34px;
}

/* Стиль лінії між стовпцями */
p {
  column-rule: thick inset blue;

  column-rule-width: (thin) (medium) (thick);

  column-rule-style: (
    dotted,
    dashed,
    solid,
    double,
    groove,
    ridge
  );